<app-navbar></app-navbar>

<div class="container">
    <div class="action-bar">
        <app-food-search></app-food-search>
    </div>

    <div class="menu-dishes">
        <div class="row">
            <div *ngFor="let item of foodsResult" class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <p-card header="{{item.name}}" routerLink="/food-detail/{{ item.id }}">
                    <ng-template pTemplate="header">
                        <img [alt]="item.name" [src]="item.imageUrl" />
                    </ng-template>
                    <div class="info-food">
                        <div class="star">
                            <fa-icon [icon]="starIcon"></fa-icon>
                            <span>{{item.stars}}</span>
                        </div>
                        <div class="cook-time">
                            <fa-icon [icon]="timeIcon"></fa-icon>
                            <span>{{item.cookTime}}</span>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">

                    </ng-template>
                    <div class="price">
                        ${{item.price}}
                    </div>
                    <div class="add-to-cart">
                        <fa-icon [icon]="cartIcon"></fa-icon>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>