<p-card header="User Info">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-4 text-md-end">
            <p>Client Name</p>
            <p>Total Price</p>
            <p>Address</p>
            <p>Estimated Time</p>
        </div>
        <div class="col-6 col-md-8 col-lg-8">
            <p>User</p>
            <p>{{ 2 | currency }}</p>
            <p>3</p>
            <p>{{orderTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <!-- https://angular.io/api/common/DatePipe -->
        </div>
    <div class="col-12">
        <span class="p-float-label my-3">
            <textarea id="float-input" rows="5" pInputTextarea [autoResize]="true" [value]="value" class="w-100" ></textarea>
            <label for="float-input">Your Note</label>
        </span>
    </div>
    <p-button label="Confirm" styleClass="p-button-raised p-button-success py-2 w-100" (click)="confirm()"></p-button>
</div>
</p-card>