<div class="row gy-3">
    <!-- Search Input -->
    <div class="col-12 center-box">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #searchFood type="text" pInputText (keyup.enter)="search(searchFood.value)" />
            <!--  [(ngModel)]="searchTerm" -->
        </span>
        <span class="p-input-icon-right">
            <i class="pi pi-spin pi-spinner"></i>
            <input type="text" pInputText [(ngModel)]="value2" />
        </span>
    </div>
    <!-- Tag Filter : ({{tag.count}})  -->
    <div class="col-12 center-box" *ngIf="tags">
            <p-button *ngFor="let tag of tags" label="{{tag.name}}" styleClass="p-button-secondary me-3"
                [routerLink]="['/menu?tag_filter', tag.name]"></p-button>
            <!--  (click)="filterByTag()" -->
    </div>
</div>